@inject UiTextService Texts

<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @Texts["RejoiningServer"]
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @((MarkupString)Texts.Format("RejoinFailedRetrying", "<span id=\"components-seconds-to-next-attempt\"></span>"))
        </p>
        <p class="components-reconnect-failed-visible">
            @Texts["FailedToRejoin"]<br />@Texts["PleaseRetryOrReload"]
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @Texts["Retry"]
        </button>
        <p class="components-pause-visible">
            @Texts["SessionPaused"]
        </p>
        <p class="components-resume-failed-visible">
            @Texts["FailedToResume"]<br />@Texts["PleaseRetryOrReload"]
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            @Texts["Resume"]
        </button>
    </div>
</dialog>
